<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Base Sandbox -->
    <key>com.apple.security.app-sandbox</key>
    <true/>
    
    <!-- File Access -->
    <key>com.apple.security.files.user-selected.read-write</key>
    <true/>
    <key>com.apple.security.files.downloads.read-write</key>
    <true/>
    <key>com.apple.security.assets.movies.read-write</key>
    <true/>
    <key>com.apple.security.assets.music.read-write</key>
    <true/>
    <key>com.apple.security.assets.pictures.read-write</key>
    <true/>
    
    <!-- System Integration -->
    <key>com.apple.security.automation.apple-events</key>
    <true/>
    <key>com.apple.security.temporary-exception.apple-events</key>
    <array>
        <string>com.apple.systempreferences</string>
        <string>com.apple.systemevents</string>
        <string>com.apple.Preview</string>
        <string>com.apple.TextEdit</string>
        <string>com.apple.finder</string>
    </array>
    
    <!-- Network -->
    <key>com.apple.security.network.client</key>
    <true/>
    
    <!-- Library Access -->
    <key>com.apple.security.personal-information.photos-library</key>
    <true/>
    
    <!-- File System Access -->
    <key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
    <array>
        <string>/Downloads/</string>
        <string>/Documents/</string>
    </array>
    
    

    <key>com.apple.security.automation.apple-events</key>
    <true/>
    
    <key>com.apple.security.temporary-exception.files.absolute-path.read-write</key>
    <true/>

</dict>
</plist>
